@model Sistema_Factura.ViewModels.AgregarProducto

@{
    ViewData["Title"] = "BuscarProducto";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
<link rel="stylesheet" href="~/css/TemporalProducto.css" />
<div class="container" id="bordeContainer">

    <header style="margin-bottom:20px">
        <h3 class="text-center"><i class="bi bi-cart3"></i> Agregar Producto</h3>
    </header>
    <hr />

    <div class="row">
        @*COLUMNA DATOS*@
        <div class="col-md-6">
            <div class="col-md-12">
                @*BUSCAR CODIGO DE PRODUCTO*@
                <form asp-controller="TemporalProducto" asp-action="BuscarProducto">


                    <div class="card">
                        <div class="card-header">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group row">

                                <div class="col-md-8">
                                    <input placeholder="Codigo" class="form-control" asp-for="CodigoProducto" name="CodigoProd"/>
                                    <span asp-validation-for="CodigoProducto" class="text-danger"></span>
                                </div>
                                <div class="col-md-4">
                                    <p>
                                        @*id="CodigoProd"*@

                                        <span class="btn" style="border: 1px solid #757878;background: white;">
                                            <i class="bi bi-search"></i>&nbsp;
                                            <input id="btnBuscarProd" type="submit" value="Buscar" />
                                        </span>
                                    </p>
                                </div>
                            </div>
                            @*Mensaje de alerta*@
                            <div>
                                @if (TempData["messageNoCodigoProducto"] != null)
                                {
                                    <div class="alert alert-warning alert-dismissible fase show" role="alert">
                                        @TempData["messageNoCodigoProducto"]
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>


                </form>
            </div>

            @*DATOS DEL PRODUCTO*@
            <div class="col-md-12 float-left">
                <form asp-action="AgregarProductoTemporal" method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="ProductoId" />
                    <div class="form-row">

                        <div class="form-group col-md-12 mb-3">
                            <label asp-for="NombreProducto" class="col-form-label"></label>
                            <input asp-for="NombreProducto" disabled class="form-control">
                        </div>
                        <div class="col-md-12 mb-3">
                            <label asp-for="CodigoProducto" class="col-form-label"></label>
                            <input asp-for="CodigoProducto" disabled class="form-control">
                            <input asp-for="CodigoProducto" type="hidden" class="form-control">
                        </div>
                        <div class="col-md-12">
                            <label asp-for="PrecioProductoCompra" class="col-form-label"></label>
                            <input asp-for="PrecioProductoCompra" disabled class="form-control">
                            <input asp-for="PrecioProductoCompra" type="hidden" class="form-control">
                        </div>
                        <div class="col-md-12">
                            <label asp-for="Cantidad" class="col-form-label"></label>
                            <input asp-for="Cantidad" value="1" type="number" class="form-control">
                            <span asp-validation-for="Cantidad" class="text-danger"></span>
                        </div>
                    </div>

                    @*ALERTAS*@
                    <div>
                        @if (TempData["messageCantidad"] != null)
                        {
                            <div class="alert alert-warning alert-dismissible fase show" role="alert">
                                @TempData["messageCantidad"]
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }
                    </div>

                    <div>
                        @if (TempData["messageSinRegistros"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible fase show" role="alert">
                                @TempData["messageSinRegistros"]
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }
                    </div>
                    <div>
                        @if (TempData["messageNitDiferente"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible fase show" role="alert">
                                @TempData["messageNitDiferente"]
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }
                    </div>
                    <div>
                        @if (TempData["messageProductoAgregado"] != null)
                        {
                            <div class="alert alert-success alert-dismissible fase show" role="alert">
                                @TempData["messageProductoAgregado"]
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }
                    </div>
                    @*COLUMNA BOTONES*@
                    <div class="col-md-12" style="margin-top:20px">
                        <div class="float-left">
                            <input type="submit" value="Agregar" id="btnAgregarProducto" class="btn btn-primary" />
                            <a class="btn btn-outline-danger" asp-action="AnularFactura">
                                <i class="bi bi-trash"></i>&nbsp; Anular productos agregados
                            </a>
                        </div>
                    </div>

                </form>
            </div><br />
        </div>

        @*COLUMNA NIT*@
        <div class="col-md-6">
            <div class="col-md-12 float-right">
                <form asp-action="GuardarFactura" method="post" enctype="multipart/form-data">
                    <div class="card">
                        <div class="card-header">
                            <div class="form-group row">
                                <div class="col-md-8">
                                    <input asp-for="NitCliente_temp" id="nitHide" class="form-control" placeholder="Nit" />
                                    <input type="hidden" asp-for="NitCliente_temp" id="CopiaNit" class="form-control" />
                                </div>
                                @*<label for="nit" class="control-label">Nit:</label>*@
                                <div class="col-md-4" style="cursor:pointer">
                                    <a class="btn btn-outline-warning" id="btnBuscarNit">
                                        <i class="bi bi-search"></i>&nbsp;Buscar
                                    </a>
                                </div>
                            </div>
                            @*MUESTRA DATO DEL CLIENTE ENCONTRADO*@
                            <div class="alert alert-info" role="alert">
                                NOMBRE CLIENTE: <a href="#" id="txtNombreCliente" class="alert-link"> Cliente</a>.
                            </div>                            
                            <div class="float-right">
                                <input type="submit" id="btngGuardarFactura" value="Vender" class="btn btn-outline-success" />
                            </div>
                        </div>
                    </div>
                    <div>
                        @*MENSAJE DE ALERTA*@
                        <div>
                            @if (TempData["messageFacturaSave"] != null)
                            {
                                <div class="alert alert-success alert-dismissible fase show" role="alert">
                                    @TempData["messageFacturaSave"]
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            }
                        </div>
                        @if (TempData["messageNoFactura"] != null)
                        {
                            <div class="alert alert-danger alert-dismissible fase show" role="alert">
                                @TempData["messageNoFactura"]
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@*VALIDACIÓN DE CAMPOS, LADO DEL CLIENTE*@
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

@*CARGA TABLA DE DATOS*@
<div id="dataTable" style="margin-bottom:100px"></div>
<script src="~/js/DataTable.js"></script>

@*BUSCAR NIT*@
<script>
    //COPIA VALOR DE NIT EN CUANTO ESCRIBE
    $(document).ready(function () {
        $("#nitHide").keyup(function () {
            var value = $(this).val();
            $("#CopiaNit").val(value);
        });
    });
    //Inicializa botón desabilitado: GUARDAR FACTURA
    $('#btngGuardarFactura').attr("disabled", true);

    $(function () {
    $("#btnBuscarNit").click(function () {

        var url = "@Url.Action("BuscarNit", "Home")";
        var nit = $("#nitHide").val();
        var data = { nit: nit };

        //jQuery
        $.post(url, data).done(function (data) {
            //MUESTRA RESULTADO DEL NIT BUSCADO
            var x = $("#txtNombreCliente").html(data);

            //COPIA VALOR DE NIT
            document.getElementById("CopiaNit").value = document.getElementById("nitHide").value;

            //FUNCION PARA HABILITAR EL BOTÓN IMPRIMIT
            var nitData = $("#txtNombreCliente").html();
            if (nitData == "") {
                $("#txtNombreCliente").html("Nit no encontrado");
                $('#btngGuardarFactura').attr("disabled", true);//BOTON DESABILITADO
            } else {
                $('#nitHide').attr("disabled", true);

                $('#btngGuardarFactura').attr("disabled", false);//BOTON HABILITADO
            }

        }).fail(manejarErrorAjax).always(function () {
            //Esta funcion siempre se ejecuta
        });
    });
        function manejarErrorAjax(err) {
    console.log(err.responseText);
        }
    });
</script>



