@model List<Sistema_Factura.Models.TempProducto>

@{
    ViewData["Title"] = "Index";

}
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<h1 class="text-center">Factura</h1>

<div class="row">
    <div class="container">
        <div class="col-md-4">
            <div class="alert alert-success" role="alert">
                NOMBRE CLIENTE: <a href="#" id="nombreCliente" class="alert-link"> Nombre del Cliente</a>.
                NIT CLIENTE: <a href="#" id="nitCliente" class="alert-link"> Nit del Cliente</a>.
            </div>
            
        </div>
        
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-3">
            <a class="btn btn-dark" id="btnNitCliente" asp-area="" asp-controller="TemporalProducto" asp-action="GuardarFactura">Guardar Factura</a>
        </div>
        <div class="col-md-3">
            <a class="btn bg-success " asp-action="BuscarProducto">Agregar más producto</a>
        </div>
        <div class="col-md-3">
            <a class="btn bg-danger " asp-action="AnularFactura">Anular Factura</a>
        </div>
    </div>
</div>

<br />
<br />
@*Tabla de los Productos agregados*@
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>CODIGO</th>
            <th>NOMBRE</th>
            <th>CANTIDAD</th>
            <th>PRECIO UNITARIO</th>
            <th>SUBTORAL</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Producto.CodigoProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Producto.NombreProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad_temp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioVenta_temp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubTotal_temp)
                </td>
            </tr>
        }


    </tbody>
    <thead>
        <tr>
            <td colspan="3"></td>                        
            <th style="padding-top:20px"><b style="font-size: 20px">TOTAL:</b></th>
            <th style="padding-top:20px"><b style="font-size: 20px">Q. <label id="total"></label></b></th>
        </tr>
    </thead>
</table>
<div>
    @if (TempData["messageNoFactura"] != null)
    {
        <div class="alert alert-warning alert-dismissible fase show" role="alert">
            @TempData["messageNoFactura"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
</div>

@*Script lado del cliente mostrar Valor TOTAL Factura*@
<script>
    $(function () {

        var url = "@Url.Action("BuscarTempProducto", "Home")";

            //jQuery
            $.post(url).done(function (data) {
                //Se ejecuta si la operacion fue un éxito
                $("#total").html(data);
                //$("#txtPrecio").html(data);
            }).fail(manejarErrorAjax).always(function () {
                //Esta funcion siempre se ejecuta
            });
    });
    function manejarErrorAjax(err) {
        console.log(err.responseText);
    }
</script>

@*mostrar Nombre del cliente en factura*@
<script>
    $(function () {

    var url = "@Url.Action("MostrarNombreCliente", "Home")";

    //jQuery
    $.post(url).done(function (data) {
        //Se ejecuta si la operacion fue un éxito
        $("#nombreCliente").html(data);
        //$("#txtPrecio").html(data);
    }).fail(manejarErrorAjax).always(function () {
        //Esta funcion siempre se ejecuta
    });

        function manejarErrorAjax(err) {
    console.log(err.responseText);
        }
    });
</script>

@*mostrar Nit del cliente en factura*@
<script>
    $(function () {

    var url = "@Url.Action("MostrarNit", "Home")";

    //jQuery
    $.post(url).done(function (data) {
        //Se ejecuta si la operacion fue un éxito
        $("#nitCliente").html(data);
        //$("#txtPrecio").html(data);
    }).fail(manejarErrorAjax).always(function () {
        //Esta funcion siempre se ejecuta
    });

        function manejarErrorAjax(err) {
    console.log(err.responseText);
        }
    });
</script>