@model List<Sistema_Factura.Models.TempProducto>
@*Tabla de los Productos agregados*@

<table class="table table-striped table-hover" style="margin-top:25px">
    <thead class="">
        <tr>
            <th>CODIGO</th>
            <th>NOMBRE</th>
            <th>CANTIDAD</th>
            <th>PRECIO UNITARIO</th>
            <th>SUBTORAL</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Producto.CodigoProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Producto.NombreProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad_temp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioVenta_temp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubTotal_temp)
                </td>
            </tr>
        }


    </tbody>
    <thead>
        <tr>
            <td colspan="3"></td>
            <th style="padding-top:20px"><b style="font-size: 20px">TOTAL:</b></th>
            <th style="padding-top:20px"><b style="font-size: 20px">Q. <label id="total"></label></b></th>
        </tr>
    </thead>
</table>
<div class="alert alert-info" role="alert" style="margin-top:20px">
    <b>NOTA: </b>
    <p>Escribir el mismo Nit para agregar más producto a la factura existente.</p>

    <p>VALIDACIÓN DE NIT: Un número de Nit es válido cuando el borde del campo de texto es color Verde. De lo contrario el borde es color Rojo</p>
</div>
@*MUESTRA EL TOTAL DE LA FACTURA A PAGAR*@
<script>
    $(function () {

        var url = "@Url.Action("BuscarTempProducto", "Home")";
        //jQuery
        $.post(url).done(function (data) {
            //Se ejecuta si la operacion fue un éxito
            $("#total").html(data);                
        }).fail(manejarErrorAjax).always(function () {
            //Esta funcion siempre se ejecuta
        });
    });
    function manejarErrorAjax(err) {
        console.log(err.responseText);
    }
</script>